
.lt_header h3{
  color:#fff;
  font-size: 18px;
  font-weight: 400
}

/* 历史内容部分 */

.lt_content .lt_history{
  padding: 10px;
 
}

.lt_history span{
  display: block;
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 14px;
}
.lt_history span i{
  font-size: 18px;
}
.lt_content .lt_history ul{
 border:1px dashed red;
padding: 0;
}

.lt_content .lt_history li{
  height: 30px;
  border-bottom: 1px dashed red;
  line-height: 30px;
  color: #333;
  font-size: 14px;
  text-indent: 1em

}

.lt_content .lt_history li:last-child{
  border-bottom: none;
}

.lt_content .lt_record .btn_delete{
  font-size: 24px;
  text-align: center;
}




