
.lt_header h3{
  color:#fff;
  font-size: 18px;
  font-weight: 400
}

/* 内容部分 */
.lt_content{
  position: relative;
}
.lt_search{
  padding: 10px;
  
}



 .lt_search input{
  height: 34px;
  border: 1px solid #007aff;
  border-radius: 5px;
  font-size: 14px;
  margin: 0;
}

.lt_content .lt_search button{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0px；
}

.lt_content .lt_history{
  padding: 10px;
 
}

.lt_history span{
  display: block;
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 14px;
}
.lt_history span i{
  font-size: 18px;
}
.lt_content .lt_history ul{
 border:1px dashed red;
padding: 0;
}

.lt_content .lt_history li{
  height: 30px;
  border-bottom: 1px dashed red;
  line-height: 30px;
  color: #333;
  font-size: 14px;
  text-indent: 1em

}

.lt_content .lt_history li:last-child{
  border-bottom: none;
}

.lt_content .lt_record .btn_delete{
  font-size: 24px;
  text-align: center;
}




