<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>乐淘分类页</title>
  <link rel="icon" href="favicon.ico">
  <!-- mui框架 -->
  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <!-- 字体图标 -->
  <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
  <!-- 公共样式 -->
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/category.css">

</head>

<body>


  <div class="container">
    <!-- 头部开始 -->
    <div class="lt_header">
      <!-- 返回上一步 -->
      <a href="javascript:history.go(-1);" class="mui-pull-left">
        <span class="mui-icon mui-icon-back"></span>
      </a>

      <a href="search.html" class="mui-pull-right">
        <span class="fa fa-search"></span>
      </a>
      <h3>乐淘云购</h3>
    </div>

    <!-- 内容 -->
    <div class="lt_content">
      <!-- 左边 -->
      <div class="content-left">
        <div class="mui-scroll-wrapper">
          <div class="mui-scroll">
            <ul>
              <!-- 挖个坑 -->

            </ul>

          </div>
        </div>
      </div>
      <!-- 右边 -->
      <div class="content-right">
        <div class="mui-scroll-wrapper">
          <div class="mui-scroll">

            <ul class="mui-clearfix" >
              <!-- 挖个坑 -->
             
            </ul>
          </div>
        </div>
      </div>

    </div>


    <!-- 底部 -->
    <div class="lt_footer">
      <ul class="mui-clearfix">
        <li>
          <a href="index.html">
            <span class="fa fa-home"></span>
            <p>首页</p>
          </a>
        </li>
        <li class="now">
          <a href="category.html">
            <span class="fa fa-bars"></span>
            <p>分类</p>
          </a>
        </li>
        <li>
          <a href="cart.html">
            <span class="fa fa-shopping-cart"></span>
            <p>购物车</p>
          </a>
        </li>
        <li>
          <a href="user.html">
            <span class="fa fa-user"></span>
            <p>会员中心</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- 准备模块 -->
  <script type="text/html" id="tpl">
    {{each rows v i}}
    {{if i==0}}
    <li class="now" data-id="{{v.id}}"><a href="#">{{v.categoryName}}</a></li>
    {{else}}
    <li data-id="{{v.id}}"><a href="#" >{{v.categoryName}}</a></li>
    {{/if}}
    {{/each}}
  </script>


    <!-- 准备模板2 -->
    <script type="text/html" id="tpl2">
      {{if rows.length==0}}
      <p>没有更多信息了</p>
      {{/if}}
      {{each rows v i}}
      <li>
        <a href="#">
          <img src="{{v.brandLogo?v.brandLogo:'images/none.png'}}" alt="">
          <p>{{v.brandName}}</p>
        </a>
      </li>
      {{/each}}

    </script>










  <script src="lib/zepto/zepto.min.js"></script>
  <!-- mui框架 -->
  <script src="lib/mui/js/mui.js"></script>
  <!-- 模板引擎 -->
  <script src="lib/artTemplate/template-web.js"></script>

  <script src="js/commn.js"></script>
  <script src="js/category.js"></script>



</body>

</html>